/* Стили для навигационной панели */
nav {
    background-color: #4287f5; /* Синий цвет для навигационной панели */
    padding: 10px; /* Отступы внутри навигационной панели */
}

nav ul {
    list-style-type: none; /* Убираем маркеры списка */
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline; /* Располагаем элементы списка в строку */
    margin-right: 20px; /* Отступ между пунктами меню */
}

nav ul li a {
    color: #000; /* Белый цвет текста ссылок */
    text-decoration: none; /* Убираем подчеркивание ссылок */
    font-weight: bold; /* Жирный шрифт */
}

nav ul li a:hover {
    text-decoration: underline; /* Подчеркивание ссылок при наведении */
}

/* Стили для основного содержимого страницы */
main {
    padding: 20px; /* Отступы внутри основного содержимого */
    min-height: calc(100vh - 150px); /* Минимальная высота контейнера, чтобы футер прижимался к нижней части */
}


