{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/tserzhan.css' %}">
    <title>Сайт о себе</title>
</head>

<body>
    <div id="resume">
        <img src="https://sneg.top/uploads/posts/2023-06/1687905977_sneg-top-p-agent-vremeni-avatarki-pinterest-58.jpg" alt="Тулепбек Сержан">
        <h1>Tulepbek Serzhan</h1>
        <p>Тулепбек Сержан: <a href=#>8 778 952 5308</a>
        <p>Почта: <a href=#>tserzhan@gmail.com</a>
        <p id="objective">Тулепбек Сержан, 21 год. Любит программировать и изучать новые технологии.
        Обладаю опытом в веб-разработке, мобильных приложениях и приложениях для ПК.
        Готов к новым вызовам в мире технологий.
        <dl>
            <dt>Образование
            <dd>
                <h2></h2>
                <p><strong>Колледж: </strong>КНПК<br />
                    <strong>Университет: </strong>МКТУ (3 курс)
                </p>
        </dl>
        <dl>
            <dt>Навыки
            <dd>
                <h2>Веб-разработка:</h2>
                <p>Знание HTML, CSS и JavaScript.
                    Опыт работы с фреймворками, такими как React Native и Django.
                    Умение создавать адаптивные и кроссбраузерные веб-сайты</p>
                <h2>Мобильные приложения:</h2>
                <p>Опыт разработки мобильных приложений для iOS и Android.
                    Знание языков программирования, таких как JavaScript.
                    Умение работать с фреймворком для создания мобильного приложения  React Native</p>

                <h2>Базовые навыки:</h2>
                <p>Знание алгоритмов и структур данных.
                    Опыт работы с системами контроля версий, такими как Git
                    .Умение работать в команде и эффективно коммуницировать</p>

        </dl>
        <dl>
            <dt>Хобби
            <dd>Люблю смотреть фильмы и сериалы
        </dl>
        <dl>
        </dl>
    </div>
</body>

</html>